@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    /* colors */
    --main-color: #348c9e;
    --sub-color: #031d5b;
    --green: #1fdd96;
    --gold-gradient: linear-gradient(250deg, #ffe175, #f7b41c);
    /* sizes */
    --container-size: 1200px;
    /* headings */
    --heading-one: 48px;
    --base-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #dfdedd;
}

.heading-one {
    font-size: var(--heading-one);
    color: var(--main-color);
}

.container {
    max-width: var(--container-size);
    margin: 0 auto;
    padding: 0 20px;
}

.input {
    padding: 20px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

/* HEADER AND HEADER ITEM STYLING  */
#header {
    background-color: var(--green);
    position: sticky;
    top: 0;
    padding: 10px 20px;
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav-items--item:not(:last-child) {
    margin-right: 10px;
}

.nav-items--item a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
}

.nav-items--item a:hover {
    text-decoration: underline;
    color: grey;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HERO STYLING */
#hero-container {
    background-image: linear-gradient(to bottom, var(--green), #117c93);
}

.hero-flex {
    display: flex;
    padding: 5% 0 15%;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 0 20px;
    width: 50%;
    margin-right: 16px;
    color: #fff;
}

.hero-text p {
    line-height: 1.50;
}

.hero-image img {
    width: 40vw;
    object-fit: cover;
}

/* BUTTON STYLING */
.button {
    border: 0;
    padding: 20px 10px;
    background-image: var(--gold-gradient);
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0px #00000075;
}

.button:hover {
    background-color: #f7b41c;
    background-image: none;
    box-shadow: 0 4px 6px 0px #00000050;
}

/* SUBSCRIBE CONTAINER (INPUT AND BUTTON) */
.subscribe-container {
    display: flex;
}

.subscribe-container input  {
    flex: 0 0 60%;
    margin-right: var(--base-size);
}

.subscribe-container button {
    flex: 1;
}

/* CARD CONTAINER */
#card-container {
    margin-top: -90px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 4px #00000020;
    padding: 50px;
}

/* CARD ITEM ELEMENT */
.card-item {
    flex: 1;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.card-item:last-of-type {
    margin-right: 0;
}

.card-item h2 {
    font-size: 18px;
    color: var(--sub-color);
}

.card-item p {
    line-height: 1.56;
    color: var(--main-color);
}

.card-item-underline {
    height: 5px;
    width: 60px;
    background-color: var(--main-color);
    display: block;
    margin: 15px 0 23px;
}

/* APP INFO SECTION */
#appinfo-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.appinfo-box {
    width: 50%;
}

.appinfo-content {
    text-align: right;
}

.appinfo-content h2 {
    color: var(--main-color);
    font-size: var(--heading-one);
    margin-bottom: 17px;
}

.appinfo-content h3 {
    color: var(--sub-color);
    font-size: 34px;
    margin-bottom: 50px;
}

.appinfo-content p {
    color: #5b6c94;
    line-height: 1.56;
    font-size: var(--base-size);
    margin-bottom: 67px;
}

.appinfo-img img {
    max-height: 600px;
}

/* QUOTES */
#quote-container {
    background-color: rgb(168, 167, 167);
    position: relative;
}

.quote-title {
    font-size: 40px;
    color: var(--sub-color);
    width: 30%;
    line-height: 1.2;
}

.quote-items {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.quote-item {
    background-color: white;
    border-radius: 20px;
    padding: 100px 42px 83px 72px;
}
.quote-item:not(:last-of-type) {
    margin-right: 60px;
}

.quote-background {
    height: 600px;
    width: 400px;
    background-color: tomato;
    position: absolute;
    right: 0;
    top: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


/* SUBSCRIBE CTA */
#cta-container {
    text-align: center;
}

#cta-container h3 {
    color: #cdcdcd;
    margin: 17px 0 60px;
    font-size: 34px;
    font-weight: normal;
}

/* FOOTER */
.footer {
    margin-top: 50px;
    height: 164px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer span {
    margin-bottom: 20px;
    color: white;
}

@media screen and (max-width: 768px) {
    .hero-flex {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 20px;
    }

    .hero-text {
        width: auto;
        margin-right: 0;
        text-align: center;
    }

    .hero-text .heading-one {
        margin-bottom: var(--base-size);
    }

    .nav-flex {
        flex-direction: column;
    }

    .subscribe-container {
        flex-direction: column;
        margin-top: 50px;
    }
    
    .subscribe-container input {
        margin-right: 0;
        margin-bottom: var(--base-size);
    }

    #card-container {
        flex-direction: column;
        margin-top: -5vh;
    }

    #appinfo-container {
        flex-direction: column;
    }

    .appinfo-box {
        width: 100%;
        text-align: center;
    }

    .button {
        width: 100%;
    }
}


